:root {
    --text-primary-color: #ffffff;
    --bg-primary-color: #ffffff;
    --section-color: #34495e;
    --header-color: #2dcc70;
    --content-primary-color: #eceff0;
    --main-content-color: #3598db;
    --sidebar-color: #e84c3d;
    --feature-primary-color: #f1c40f;
    --content-padding: 10px;
    --primary-border-radius: 10px;
    --font-size-primary: 24px;
    --font-size-secondary: 22px;
    --font-size-ternary: 20px;
    --font-weight: bold;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Arial, Noto Sans, sans-serif;
    color: var(--text-primary-color);
    background-color: var(--bg-primary-color);
}

p {
    font-size: var(--font-size-ternary);
}

.header-section {
    display: flex;
    flex-direction: column;
}

.main-header {
    background-color: var(--section-color);
    text-align: center;
}

.header {
    background-color: var(--header-color);
    height: auto;
    min-height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-size-secondary);
}

.header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.header a {
    text-decoration: none;
    color: var(--bg-primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: var(--content-primary-color);
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.content .heading {
    font-size: var(--font-size-primary);
    font-weight: var(--font-weight)
}

.main-content {
    background-color: var(--main-content-color);
    width: auto;
    min-width: 55vw;
    border-radius: var(--primary-border-radius);
    padding: var(--content-padding);
    width: 100%;
}

.feature-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: var(--font-size-secondary);
}

.feature-section-1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: var(--content-padding);
}

.sub-feature {
    background-color: var(--feature-primary-color);
    width: 30vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--primary-border-radius);

}

.feature-section-2 {
    background-color: var(--feature-primary-color);
    display: flex;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--primary-border-radius);
}

.sidebar {
    background-color: var(--sidebar-color);
    width: auto;
    width: 35vw;
    border-radius: 10px;
    padding: var(--content-padding);
}

.footer {
    min-height: 10vh;
    background-color: var(--section-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    :root {
        --content-padding: 10px;
        --primary-border-radius: 10px;
        --font-size-primary: 22px;
        --font-size-secondary: 20px;
        --font-size-ternary: 18px;
        --font-weight: bold;
    }

    .header {
        font-size: var(--font-size-secondary);
    }

    p {
        font-size: var(--font-size-ternary);
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content .heading {
        font-size: var(--font-size-primary);
        font-weight: var(--font-weight)
    }

    .feature-section {
        font-size: var(--font-size-ternary);
    }

    .feature-section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sub-feature {
        width: 100%;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

}

/*mobile(600px and down)*/
@media (max-width: 600px) {
    :root {
        --content-padding: 10px;
        --primary-border-radius: 10px;
        --font-size-primary: 20px;
        --font-size-secondary: 18px;
        --font-size-ternary: 16px;
        --font-weight: bold;
    }

    .header {
        font-size: var(--font-size-ternary);
    }

    p {
        font-size: var(--font-size-ternary);
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content .heading {
        font-size: var(--font-size-primary);
        font-weight: var(--font-weight)
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .feature-section {
        font-size: var(--font-size-ternary);
    }

    .feature-section-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sub-feature {
        width: 100%;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

}